Error on Data-Node after provision certificate

docker-compose.yml from source even precisely the password-secrets ...

`io.jsonwebtoken.security.WeakKeyException: The signing key's size is 192 bits which is not secure enough for the HS256 algorithm.  The JWT JWA Specification (RFC 7518, Section 3.2) states that keys used with HS256 MUST have a size >= 256 bits (the key size must be greater than or equal to the hash output size).  Consider using the io.jsonwebtoken.security.Keys class's 'secretKeyFor(SignatureAlgorithm.HS256)' method to create a key guaranteed to be secure enough for HS256.  See https://tools.ietf.org/html/rfc7518#section-3.2 for more information.`

`Certificate authority has been configured successfully.
You can now provision certificate for your data nodes.`

* Short Node ID then red,
* after "restart" configuration, Short Node ID switch to green but nothing work

@AlexBander Hi, can you please check the length of your `GRAYLOG_PASSWORD_SECRET` in your `.env` file? It should be at least 64 chars long (as documented). Maybe it's shorter?

In this case, the best way to move forward/start over is:
1. change the setting
2. `docker compose down -v` to remove all volumes

and then start again


this did the trick, with 64 char works.
I not use or look to the .env example, because i upgrade from previous docker with elastics.
Now everything is gone, but new and without elastics. 
Maybe I should found it in an older docu the note, that there must be longer than 8 char, and used 32.


as I said, switch from elastic to open-search, unfortunately this is somewhat lost in the documentation or is not well pointed out. Why is it called "open-core" in the folder of gralyog/docker-compose. can be closed.